.game{
  width: 80%;
  font: 14px 'Century Gothic', Futura, sans-serif; 
  margin: auto;
  margin-top: 4%;
  min-height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
  
.game ol, .game ul{
  padding-left: 30px;
}


.game-info{
  margin-left: 20px;
  min-width: 190px;
}

.game-board{
  width: 100%;
}
  